* { box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 720px;
}

p, h3 { margin: 0; }

.search {
  margin: 1rem;
}

.ais-SearchBox__root {
  display: block;
  max-width: none;
  width: auto;
}

.ais-SearchBox__wrapper input {
  box-shadow: none;
  border-radius: 2px;
  border: 1px solid #aaa;
}

.ais-PoweredBy__root {
  margin: 0 1rem 2ex;
  float: right;
}
.ais-SearchBox__wrapper {
  font-size: 20px;
}

.info {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 75%;
  text-decoration: none;
}
