body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: #F6F7FA;
  line-height: 1.5;
}

.why {
  position: absolute;
  top: 1ex;
  right: 1em;
}

a {
  text-decoration: none;
  color: #436592;
}
