body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #FAFAFA;
  line-height: 1.5;
}

header {
  text-align: center;
}

header p {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
  font-size: 150%;
}

header .why {
  position: absolute;
  top: 1ex;
  right: 1em;
}
